.alert-box{
    background-color: darkseagreen;
    color: darkslategrey;
    padding:20px;
    border-radius: 5px;
    display:none;
    
}
.nextbtn{
    /* Next 버튼은 사진 위에 떠있어야합니다. (보통 그렇지않나요) 
    그럼 띄우는 HTML과 CSS를 잘 작성해보시면 되겠죠?
    보통 어떤 요소를 붕 띄워서 다른 요소와 겹치게 만들고싶다면 position : absolute 속성을 이용합니다.  */
    position: absolute;
    top: 45%;
    right: 0;
}
.slide-container{
    width:300vw;
    /* 왼쪽으로 이동시키는 CSS속성 */
    /* transition: transform 1s; */
}
.transforming{
    /* 터치가 끝난 순간에만 transition 속성을 넣고 싶어서  */
    transition:transform 0.5s;
}
.slide-box{
    width:100vw;
    float:left;
}
.imgclass{
    width: 100vw;
    height: 50vw;
    background-size: cover;
}
.left-menu{
    width:150px;
    height:100%;
    background: black;
    color: white;
    position:fixed;
    margin-left:-150px;
}
.yellow-bg{
    background: yellow;
}

.menu-bar{
    display:flex;
    justify-content: space-between;
    /* justify-content : 가로축 정렬 */
    align-items: center;
    /* align-items: 세로축 정렬 */
    padding:15px;
    background-color: transparent;  
    /* 투명하게 */
    position: fixed;
    /* 스크롤 내려도 fix 되게 */
    z-index:5;
    width:100%;
    color: white;
    transition:all 1s;
}
.menu-title{
    font-size:30px;
    transition: all 0.5s;
}
.small-font{
    font-size:15px;
}
.nav-black{
    background-color: white;
    color:black;
}
#emailAlert{
    display:none;
}
#pwAlert{
    display:none;
}
.nav-sub{
    display:none;

}
.main-background{
    background-image:url(./img/shoes.jpg);
    background-size:cover;
    color:white;
    border-radius: 0px;
}
.black-background{
    background: rgba(0,0,0,0.5);
    position:fixed;
    /* position:fixed - 브라우저 화면에 딱 달라붙는 요소를 만들어낼 수 있습니다. */
    z-index:5;
    /* z-index는 position 속성이 들어간 요소들에 쓸 수 있는 속성이며 값이 클 수록 맨 앞으로 가져옵니다 */
    width:100%;
    height:100%;
    display:none;
    margin-top: -1200px;
    /* opacity:0; 또는 visibility:hidden */
}
.white-background{
    background:white;
    width:80%;
    
    margin:100px auto;
    padding:20px;
    border-radius:5px;
}
.size-select{
    display: none;
}